*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #242424;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    width: 200px;
    height: 400px;
    border: 2px solid #000;
    padding: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    font-size: 150px;
    box-shadow: 0 10px 20px 2px red inset;
    text-shadow: 0 0 7px black,0 0 10px black,0 0 21px black,0 0 42px red,0 0 82px red,0 0 92px red,0 0 102px red,0 0 151px red;
    color: red;
    background-color: #000;
}

.start{
    width: 100px;
    height: 50px;
    font-size: 24px;
}